<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Discord Is Playing</title>
        <link rel="stylesheet" type="text/css" href="../assets/index.css">
        <script type="text/javascript" src="../assets/lib/jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <div class="dip--center">
            <h1>
                Discord-<br>
                Status Update
            </h1>
            <form>
                <div class="dip--input--group">
                    <input type="text" id="token">
                    <label for="token" id="token-label">Account Token</label>
                </div>
                <div class="dip--input--group">
                    <input type="text" id="status">
                    <label for="status" id="status-label">New Status</label>
                </div>
                <center>
                    <div class="dip--btn--row">
                        <a href="#" id="submit"    class="dip--sub--btn">Update</a>
                        <div class="dip--spacing"></div>
                        <a href="#" id="delete"    class="dip--sub--btn">Delete saved data</a>
                    </div>
                    <div class="dip--btn--row secondoverride">
                        <a href="#" id="minimize"  class="dip--sub--btn">Minimize to tray</a>
                        <div class="dip--spacing"></div>
                        <a href="#" id="forceexit" class="dip--sub--btn redoverride">Completely exit application</a>
                    </div>

                    <p class="dip--note">
                        Note: If you close or minimize this window, it gets added to your system tray and will run in the background.
                    </p>

                    <a href="#" id="t-help" class="dip--help">How do I get an account-token?</a>
                    <br>
                    <p class="dip--status">Current Status:</p>
                    <p id="status">[none]</p>
                </center>
            </form>
        </div>
        <div class="dip--bottom">
            <p>
                Copyright &copy; <script type="text/javascript">document.write((new Date()).getFullYear());</script>  NullDev</a>
            </p>
        </div>
        <script type="text/javascript" src="../assets/index.js"></script>
    </body>
</html>