<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Discord Is Playing | Help</title>
        <link rel="stylesheet" type="text/css" href="../assets/index.css">
        <script type="text/javascript" src="../assets/lib/jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <div class="dip--center dip--help--fix">
            <h1>
                How to obtain your token:
            </h1>
            <p>First, open discord in your browser.<p>
            <p>Login to your discord account at <a href="#" id="login-link">https://discordapp.com/login</a> to get started.</p> 
            <p>After you are logged in, follow the instructions on this image:</p>
            <img src="../assets/img/help.png" width="100%" height="auto">
            <small>Tutorial by <a href="#" id="help-credit">TheRacingLion</a></small>
            <p><b>Note:</b> This process might be automated in the future.</p>
        </div>
        <script type="text/javascript" src="../assets/index.js"></script>
    </body>
</html>